body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 {
  color: #333;
}

/* Progress Form Styles */


form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #3749cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3749cf;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #3749cf;
  outline: none;
}

p {
  font-size: 1.2rem;
  color: red;
}

/* Summary Styles */
.summary {
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary h2 {
  text-align: center;
  color: #3749cf;
}

.stats {
  margin-bottom: 20px;
}

.stats p {
  font-size: 1.1rem;
  color: #555;
}

.progress-summary {
  margin-top: 30px;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 25px;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar-fill {
  background-color: #3749cf;
  height: 100%;
  border-radius: 10px;
  transition: width 0.5s ease;
}

.progress-bar h4 {
  color: #555;
  margin-bottom: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .progress-form, .summary {
    width: 100%;
    max-width: 100%;
  }
}


